<div class="backdrop loading-vertical-alligner">
    <div class="loading-spacer"></div>
    <div class="loading-horizontal-alligner">
        <div class="loading-spacer"></div>
        <div class="loading-box-border">
            <div class="loadingBox">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="loadingData">Loading...</div>
            </div>
        </div>
        <div class="loading-spacer"></div>
    </div>
    <div class="loading-spacer"></div>
</div>