<div class="footerMain">
    <div class="logoAndSocialMedia">
        <div class="logo" (click)="goToHomePage()"></div>
        <div class="heading">Planteria</div>
        <div class="social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-youtube-square"></i>
        </div>
    </div>
    <div class="ContactDetails">
        <div class="subscribe">
            Join us to receive gardening tips, offers, news & more
            <div class="subscribeInput">
                <input type="text" name="subscribeMailId" />
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
        <br>
        <br>
        <div class="phoneNmail">
            For any suggestions, queries, complaints etc
            <!-- <div class="phoneNmailFlex"> -->
                <br>
                <i class="fas fa-phone-square-alt"></i>
                <span>999999999</span>
                <br>
                <i class="fas fa-envelope-square"></i>
                <span>care@planteria.com</span>
            <!-- </div> -->
        </div>
    </div>
</div>