<nav>
    <div class="HeadingNav">
        <div class="logo" (click)="goToHomePage()"></div>
        <div class="heading">Planteria</div>
        <div class="spacer"></div>
        <div class="icons">
            <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
            <i class="fa fa-shopping-cart" aria-hidden="true" (click)="goToCart()"></i>
            <!-- <i class="fa fa-user-circle" aria-hidden="true" (click)="goToLoginPage()"></i> -->
        </div>
    </div>
    <div class="options"></div>
</nav>