<div class="you-might-area">
    <div class="you-might-heading">
        <h2>Best Selling</h2>
    </div>
    <div class="you-might-row">
        <div class="carousal" data-flickity='{"autoplay":true,"wrapAround":true}'>
            <div class="ym-box " (click)="goToItemPage(604)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-crassula-tetragona-plant-1_362x362.jpg?v=1600669928"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 299
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i> -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Crassula tetragona
                        </div>
                    </div>
                </div>
            </div>
            <div class="ym-box " (click)="goToItemPage(301)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-gifts-eco-friendly-peace-lily-gift-plant-16968838840460_362x362.jpg?v=1601351634"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 349
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i>
                                         -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Peace-Lily
                        </div>
                    </div>
                </div>
            </div>
            <div class="ym-box " (click)="goToItemPage(101)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-buxus-bonsai-plant-16968671363212_362x362.jpg?v=1601351186"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 970
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i> -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Buxus Bonsai
                        </div>
                    </div>
                </div>
            </div>
            <div class="ym-box " (click)="goToItemPage(304)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-gifts-enchanting-jade-plant-for-memorable-moments-16968842412172_362x362.jpg?v=1601349743"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 399
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i> -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Jade Plant
                        </div>
                    </div>
                </div>
            </div>
            <div class="ym-box " (click)="goToItemPage(406)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-gomphrena-purple-desi-flower-seeds-16968895692940_362x362.jpg?v=1601351316"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 55
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i> -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Gomphrena Purple
                        </div>
                    </div>
                </div>
            </div>
            <div class="ym-box " (click)="goToItemPage(409)">
                <div class="ym-image">
                    <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-alyssum-snow-carpet-flower-seeds-16968586952844_362x362.jpg?v=1601347574"
                        alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ 145
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <!-- <i class="far fa-heart"></i>
                                         -->
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                            Alyssum Snow Carpet
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ym-box " *ngFor="let dta of item_array" (click)="goToItemPage(dta.id)">
                <div class="ym-image">
                        <img src={{dta.photo}} alt="">
                </div>
                <div class="ym-data-flex">
                    <div class="ym-data">
                        <div class="ym-first-bar">
                            <div class="ym-price">
                                ₹ {{dta.mrp}}
                            </div>
                            <div class="ym-alligner">
                                <div class="ym-spacer"></div>
                                <div class="ym-wishlist">

                                    <a>
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                                <div class="ym-spacer"></div>
                            </div>
                        </div>
                        <div class="ym-name">
                           {{dta.name}}
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>

</div>